html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: azure;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  
}


button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: azure;
  border-color: aqua;
  /* display: flex; */
  
}

.buttons{
  align-items: center;
}
